CREATE DATABASE QL_VATTU
GO

USE dbo.QL_VATTU
GO

CREATE TABLE [dbo].[NHANVIEN](
[MANV] [int] NOT NULL,
[HO] [nvarchar](40) NULL,
[TEN] [nvarchar](50) NULL,
[DIACHI] [nvarchar](200) NULL,
[NGAYSINH] [datetime] NULL,
[LUONG] [float] NULL,
[MACN] [nchar](10) NULL
)
CREATE TABLE [dbo].[CHINHANH](
[MACN] [nchar](10) NOT NULL,
[ChiNhanh] [nvarchar](100) NULL,
[DIACHI] [nvarchar](100) NULL,
[SoDT] [nchar](10) NULL
)
CREATE TABLE [dbo].[CT_PHATSINH](
[PHIEU] [nchar](8) NOT NULL,
[MAVT] [nchar](4) NULL,
[SOLUONG] [int] NULL,
[DONGIA] [float] NULL
)
CREATE TABLE [dbo].[KHO](
[MAKHO] [nchar](10) NOT NULL,
[TENKHO] [nvarchar](100) NULL,
[DIACHI] [nvarchar](100) NULL,
[MACN] [nchar](10) NULL
)
CREATE TABLE [dbo].[PHATSINH](
[PHIEU] [nchar](8) NOT NULL,
[NGAY] [datetime] NULL,
[LOAI] [nchar](1) NULL,
[HOTENKH] [nvarchar](100) NULL,
[THANHTIEN] [float] NULL,
[MANV] [int] NULL,
[MAKHO] [nchar](10) NULL
)
CREATE TABLE [dbo].[VATTU](
[MAVT] [nchar](4) NOT NULL,
[TENVT] [nvarchar](30) NULL,
[DVT] [nvarchar](15) NULL
)

INSERT [dbo].[CHINHANH] ([MACN], [ChiNhanh], [DIACHI], [SoDT]) VALUES (N'HCM001', N'Quận 1', N'111 Đinh Tiên Hoàng', N'0905756138')
INSERT [dbo].[CHINHANH] ([MACN], [ChiNhanh], [DIACHI], [SoDT]) VALUES (N'HCM002', N'Quận 3', N'351/11 Lê Văn Sỹ', N'0877666669')
INSERT [dbo].[CHINHANH] ([MACN], [ChiNhanh], [DIACHI], [SoDT]) VALUES (N'HCM003', N'Phú Nhuận', N'428 Trường Sa', N'0901113114')
GO
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'20221010', N'CA01', 5, 200000)
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'20221010', N'DA01', 2, 250000)
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'20221010', N'SA01', 10, 100000)
GO
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'SGHUB001', N'Hoàng Thành Logistics', N'348 Ung Văn Khiêm', N'HCM001')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'SGHUB002', N'Hoàng Hoa Thám Logistics', N'100 Hoàng Hoa Thám', N'HCM002')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'SGHUB003', N'Việt Âu Logistics', N'50 Lê Văn Việt', N'HCM003')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN]) VALUES (11001, N'Nguyễn', N'Thanh', N'Quận 10', CAST(N'1999-06-28T00:00:00.000' AS DateTime), 3500000, N'HCM001')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN]) VALUES (13001, N'Lê', N'Huyền', N'Quận Hải Châu', CAST(N'1995-11-25T00:00:00.000' AS DateTime), 3800000, N'DN001')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [MACN]) VALUES (15001, N'Nguyễn', N'Tuấn', N'Quận Ninh Kiều', CAST(N'2000-04-01T00:00:00.000' AS DateTime), 3500000, N'CT001')
GO
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [THANHTIEN], [MANV], [MAKHO]) VALUES (N'20221010', CAST(N'2022-10-10T00:00:00.000' AS DateTime), N'A', N'Lê Văn Mạnh', 5000000, 11001, N'SGHUB001')
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [THANHTIEN], [MANV], [MAKHO]) VALUES (N'20221023', CAST(N'2022-10-23T00:00:00.000' AS DateTime), N'A', N'Lê Văn Mạnh', 5000000, 11001, N'SGHUB001')
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [THANHTIEN], [MANV], [MAKHO]) VALUES (N'20221105', CAST(N'2022-11-05T00:00:00.000' AS DateTime), N'A', N'Lê Văn Mạnh', 15000000, 11001, N'SGHUB001')
GO
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT]) VALUES (N'CA01', N'Cát', N'Khối')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT]) VALUES (N'DA01', N'Đá', N'xe')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT]) VALUES (N'GA01', N'Gạch ống bốn lỗ', N'viên')
GO
